body, html {
    margin: 0;
    padding: 0;
}

.widget {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.content {
    position: relative;
    z-index: 1;
}

.content header {
    background-color: rgba(255, 255, 255, 0.8); /* Белый полупрозрачный фон */
    padding: 20px;
    text-align: center;
}

.content header h1 {
    font-size: 32px;
    margin: 0;
}

.content header p {
    font-size: 14px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #FFFFFF; /* Белый цвет кнопки */
    color: #000000; /* Цвет текста кнопки */
    text-decoration: none;
    border-radius: 5px;
}

.booking-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.booking-button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #FFFFFF; /* Белый цвет кнопки */
    color: #000000; /* Цвет текста кнопки */
    border: 2px solid #000000; /* Черная обводка кнопки */
    border-radius: 5px;
    cursor: pointer;
}

.booking-button:hover {
    background-color: #000000; /* Цвет кнопки при наведении */
    color: #FFFFFF; /* Цвет текста кнопки при наведении */
}

#confirmationMessage {
    margin-top: 20px;
    font-size: 18px;
    color: green;
}
